{% extends 'base.html.twig' %}

{% block title %}Books!{% endblock %}

{% block body %}
    <div class="container p-3">
        <h2>Une fois lus vos livres prennent la poussière.
            <br>Vous souhaitez partager vos lectures.
            <br>Vous ne vous souvenez plus si vous possédez tel ou tel livre.
            <br>Vous aimeriez lire le dernier roman de votre auteur préféré sans forcément l'acheter.
        </h2>
        <hr>
        <h3><u>SharedBooks vous permet:</u></h3>
        <ul class="row pb-4 bg-dark-subtle p-2">
            <li>d'inventorier vos livres dans votre bibliothèque virtuelle.</li>
            <li>de partager votre bibliothèque en la rendant visible aux yeux des autres.</li>
            <li>de rechercher une bibliothèque par son nom.</li>
            <li>de visualiser la bibliothèque d'autres collectionneurs et du coût favoriser l'emprunt.</li>
            <li>de savoir à qui et quand vous avez prêté tel livre.</li>
        </ul>
        <h4><u>Vous n'êtes pas enregistré, vous pouvez:</u></h4>
        <ul class="row pb-4 bg-dark-subtle p-2">
            <li>Consulter la page accueil et voir le descriptif de ses livres.</li>
            <li>Vous enregistrer puis vous connecter via l'icône suivant =>
                <i class="fa-solid fa-circle-user" style="color:black;"></i>.
            </li>
        </ul>
        <h4><u>Vous êtes désormais enregistré  et connecté, vous pouvez:</u></h4>
        <ul  class="row pb-4 bg-dark-subtle p-2">
            <li>Voir les librairies.</li>
            <li>Voir la catégorie genre.</li>
            <li>Rechercher une librairie par son nom.</li>
            <li>Voir les livres qui la composent.</li>
        </ul>
        <h4><u>Vous voulez créer votre librairie et la partager, vous pouvez:</u></h4>
        <ul  class="row pb-4 bg-dark-subtle p-2">
            <li>Faire la demande à l'adresse suivante : admin-sharedbooks@gmail.com.</li>
            <li>Vous aurez alors accès à un dashboard vous permettant de créer votre librairie (lui donner un nom et une image) .</li>
            <li>Votre librairie et vos livres seront visibles des autres (en recherchant son nom via la barre de recherche).</li>
        </ul>
    </div>
{% endblock %}
