{% extends 'base.html.twig' %}

{% block title %}Books!{% endblock %}

{% block body %}
    <div class="container p-3">
        <h2>Votre collection de livres prend la poussière et vous souhaitez partager vos lectures.
            <br>Vous ne vous souvenez plus si vous possédez tel ou tel livre.
            <br>Vous aimeriez lire le dernier roman de votre auteur préféré.
        </h2>
        <h3><u>SharedBooks vous permet:</u></h3>
        <div class="row pb-4 bg-dark-subtle p-2">
            <div class="col-md-4">1- d'inventorier vos livres dans votre bibliothèque virtuelle.</div>
            <div class="col-md-4">2- de partager votre bibliothèque en la rendant visible aux yeux des autres.</div>
            <div class="col-md-4">3- de visualiser la bibliothèque d'autres collectionneurs.</div>
        </div>
        <div class="row pb-3 bg-dark-subtle p-2">
            <div class="col-md-4">4- de rechercher une bibliothèque par son nom.</div>
            <div class="col-md-4">5- de rechercher un livre dans une bibliothèque par son titre ou son auteur.</div>
            <div class="col-md-4">6- de savoir à qui vous avez prêté tel livre.</div>
        </div>
    </div>
{% endblock %}
