{% extends 'base.html.twig' %} 
{% block title %}Hello MyLybrary!{% endblock %} 
{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            {% for library in library %}
            <div class="card m-3" style="width: 18rem; box-shadow: 1px 1px 1px">
                <div class="card-body">
                <h5 class="card-title">{{ library.name }} </h5>
                <img src="{{ asset('divers/images/' ~ library.image) }}" class="img-fluid card-img-top" alt="image librairie" />
                <p class="card-text">{{ library.nblivre }} page(s)</p>
            
                <a href="{{ path('showbooks', {'id':library.id})}}" class="btn btn-primary">Visiter</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}